@import "./custom.scss";
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/_variables-dark";


// Include any default variable overrides here (though functions won't be available)
$primary:#1BAAE1;
$info:#E0EAEC;
$accordion-button-focus-border-color: none;
$accordion-button-focus-border: none !important;
$navbar-light-toggler-border-color: none;

$font-family-sans-serif: 'Quicksand', sans-serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

// Rebuild all the bg-* and text-* classes
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");



@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";


// Add additional custom code here
$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/bootstrap/scss/bootstrap";
